* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto 1fr 3rem; 
    grid-template-areas: 
        "header header header header header header header header header header header header"        
        ". . . main main main main main main . . ."        
        "footer footer footer footer footer footer footer footer footer footer footer footer";       
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
    padding: 1rem;
}

#heading-items {    
    display: flex;    
    gap: 2rem;    
}

#heading-items > h1 {
    margin-top: 0.3rem;
}

#heading-items button {
    width: 9rem;
}

#playerScores {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;    
    gap: 1rem;

}

#playerScores label {
    width: 15rem;
    text-align: right;
}


#playerScores input {
    width: 4rem;
}

/* prefix labels with player names using CSS variable */
#scoreLabel1::before {
  content: var(--player1-name); 
  margin-right: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

#scoreLabel2::before {
  content: var(--player2-name); 
  margin-right: 1rem;
  font-weight: bold;
  text-decoration: underline;
}


#main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;        
}

#main > div {
    grid-column: span 2;    
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.fill-button {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0; 
    border: none; 
    cursor: pointer; 
    background-color: lightskyblue;
    border-radius: 1rem;
    color: black;
    font-size: 4rem;
}

.player1 {
    color: black;
    background-color: antiquewhite;
}

.player2 {
    color: white;
    background-color: black;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#notify-1, #notify-2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#notify-2 {
    color: red;
    font-weight: bold;
}

/* Form Dialog */
dialog#formDialog {
    position: fixed;
    top: 25%;
    left: 33%;
    width: 35%;
    height: 30%;
    padding: 2rem;
}

.inner-inputs1 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/* Form Dialog */
dialog#notifications {
    position: fixed;
    top: 25%;
    left: 33%;
    width: 35%;
    height: 25%;
    padding: 1.5rem;
}

#gameResults {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#gameResults > #result {
    display: flex;
    justify-content: center;
}

#gameResults span {
    font-size: 2.5rem;    
}

#gameResults > .notifyButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#gameResults > .notifyButtons > button {
    width: 8rem;
}

/* Inputs */
label, input, button {
    appearance: none;
}

label {
    /* display: block; */
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.1rem;    
}

input {
    font-family: inherit;    
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    width: 14rem;
    height: 2rem;    
    border: 1px solid #E5E7EB; 
    border-radius: 0.3rem;    
    padding-left: 0.6rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(87, 87, 226);
    box-shadow: 0px 1px 3px 1px rgb(87, 87, 226);
}

input:invalid, select:invalid {
    border: 1px solid red;
}

input:valid, select:valid {
    border: 1px solid green;
}

input[placeholder] {
    font-size: 0.9rem;
    font-weight: 300;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;    
    font-weight: 900;
    font-size: 1rem;
}

#form_buttons > button {    
    width: 6.5rem;
    padding: 0.5rem 0.5rem;
}

button:disabled {
    background-color: dimgrey;
    color: linen; 
    opacity: 1;
}

input:disabled {
    background-color: linen;
    border: 1px solid black;
    border-radius: 0.3em;
}


